html {
  font-size: 10px;
}
.customApp {
  /* display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 10rem 1fr; */
}
.customNav {
  background-color: blacks;
  /* grid-column: 2/-1;
  grid-row: 1/2; */
}

.customSidebar {
  background-color: var(--secondaryColor);
  /* grid-row: 1/-1; */
}
.customComp {
  /* grid-column: 2/-1;
  grid-row: 2/-1; */
  position: relative;
}

@media only screen and(max-width:1024px) {
  .customSidebar {
    display: none;
  }
}
